<!doctype html>
<html>
<head>
    <title>Flask Server</title>
    <style>
        /* CSS Propre */
        #jumpscare-video {
            display: none;
            position: fixed;
            top: 0; left: 0;
            width: 100vw; height: 100vh;
            object-fit: cover;
            z-index: 9999;
            background-color: black;
        }
    </style>
</head>
<body>

<h1>Bibliothèque</h1>
<ul>
    <li><a href="/catalogue">Voir le catalogue (Pour tous)</a></li>
    <li><a href="/admin_livres">Gestion des livres (Admin seulement)</a></li>
    <li><a href="/authentification">Se connecter</a></li>
</ul>

}
</script>

</body>
</html>
